In [1]:
import pandas as pd

In [2]:
#importing the data and putting them in dataframes
df_Sept_7 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190907.txt')
df_Sept_14 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190914.txt')
df_Sept_21 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190921.txt')

Field Description

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


C/A      = Control Area (A002)

UNIT     = Remote Unit for a station (R051)

SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)

STATION  = Represents the station name the device is located at

LINENAME = Represents all train lines that can be boarded at this station

Normally lines are represented by one character.  

LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.

DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   

DATE     = Represents the date (MM-DD-YY)

TIME     = Represents the time (hh:mm:ss) for a scheduled audit event

DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)

1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 

2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 

ENTRIES  = The comulative entry register value for a device

EXIST    = The cumulative exit register value for a device

In [3]:
#combining the data from 3 weeks into one dataframe
df = pd.concat([df_Sept_7, df_Sept_14, df_Sept_21])

In [4]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,00:00:00,REGULAR,7450785,2533372
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,04:00:00,REGULAR,7450788,2533375
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,08:00:00,REGULAR,7450798,2533391
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,12:00:00,REGULAR,7450826,2533423
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,16:00:00,REGULAR,7450910,2533454
...,...,...,...,...,...,...,...,...,...,...,...
209656,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2020,05:00:00,REGULAR,5554,541
209657,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2020,09:00:00,REGULAR,5554,541
209658,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2020,13:00:00,REGULAR,5554,541
209659,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2020,17:00:00,REGULAR,5554,541
209660,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2020,21:00:00,REGULAR,5554,541

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628297 entries, 0 to 209660
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   628297 non-null  object
 1   UNIT                                                                  628297 non-null  object
 2   SCP                                                                   628297 non-null  object
 3   STATION                                                               628297 non-null  object
 4   LINENAME                                                              628297 non-null  object
 5   DIVISION                                                              628297 non-null  object
 6   DATE                                                                  628297 non-null  object
 7   TIME                                                                  628297 non-null  object
 8   DESC                                                                  628297 non-null  object
 9   ENTRIES                                                               628297 non-null  int64
 10  EXITS                                                                 628297 non-null  int64
dtypes: int64(2), object(9)
memory usage: 57.5+ MB

In [6]:
#pickle our data
df.to_pickle('original_turnstile_df.pkl')

#to load the data back in use
# df_name = pd.read_pickle('original_turnstile_df.pkl')